
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h2>Welcome @ViewBag.Name</h2>
<p>Don't tell anuyone, but the secret numer today is @ViewBag.Secret</p>