@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Book your appointment today</h1>

</div>

</p>Get your doctor's appointment today at: <a href="@Url.Action("Index", "Appointment")">Appointment</a><p>
    